.scroll-top-btn {
  position: fixed;
  right: 14px;
  bottom: 95px;
  width: 62px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  span {
    @include bg-img-sm(0, -81px);
    display: block;
    height: 62px;
  }
}
