$section-video-level: 10;
$section-text-level: 20;

$home-section-level: 500;
$footer-copy-level: 600;

$header-level: 1000;

$download-btn-level: 1200;

$overlay-level: 1500;
$introduction-level: 1600;

$menu-level: 2000;
